{% extends 'base.html' %}

{% block pagecontent %}
{% if update_ok %}
	<div class="row">
		<div class="col-md-3">
			<div class="alert alert-success">Update ok
				<p>Your new first name is: {{ user.first_name }}</p>
				<p>Your new last name is: {{ user.last_name }}</p>
				<p>Your new email is: {{ user.email }}</p>
			</div>
		</div>
	</div>
{% endif%}

<div>
	<h2>User information</h2>
	<div class="form-group">
		<label for="first_name">First Name:</label>
		<p>{{ user.first_name }}</p>
	</div>
	<div class="form-group">
		<label for="last_name">Last Name:</label>
		<p>{{ user.last_name }}</p>
	</div>
	<div class="form-group">
		<label for="email">Email Address:</label>
		<p>{{ user.email }}</p>
	</div>
</div>

<h2>Change user information </h2>

<form action="" method="POST">
{% csrf_token %}
{% if form.errors %}<div class="alert alert-danger"><p>Please fix the errors.</p></div>{% endif %}

<div class="form-group">
	<label for="first_name" {% if form.first_name.errors %} class="text-danger" {% endif %}>First Name:</label>
	{% if form.first_name.errors %}<p> {{ form.first_name.errors }}</p>{% endif %}
	<p> {{ form.first_name }} </p>
</div>
<div class="form-group">
	<label for="last_name" {% if form.last_name.errors %} class="text-danger" {% endif %}>Last Name:</label>
	{% if form.last_name.errors %}<p>{{ form.last_name.errors }}</p>{% endif %}
	<p> {{ form.last_name }} </p>
</div>
<div class="form-group">
	<label for="email">Email:</label>
	{% if form.email.errors %}<p>{{ form.email.errors }}</p>{% endif %}
	<p> {{ form.email }} </p>
</div>

<button type="submit" class="btn btn-default">Dare to submit</button>
</form>
{% endblock pagecontent %}