{% extends 'base.html' %}
{% block pagecontent %}

{% if user.is_authenticated %}
	<div class="jumbotron">
		<h1 align="center">Create New Tag</h1>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form action="" method="POST">{% csrf_token %}
				{{form.as_p}}
				<button type="submit" class="btn btn-primary">Submit new tag</button>
			</form>
		</div><!-- end col-->
	</div><!-- end row-->
{% else %}
	<div class="jumbotron">
		<p>You have to be logged in create a new tag</p>
		<p>
			<a href="{% url 'useraccounts:login' %}">Log in</a> if you have an account
		</p>
		<p>
			Don't have an account?<a href="{% url 'useraccounts:register' %}"> Register</a> to be a part of the Kvittr experience
		</p>
	</div>
{% endif %}

{% endblock pagecontent %}