{% extends 'base.html'%}
{% block extra_head %}
{{block.super}}
{% if note %}
	<meta property="og:title" content="{{note.label}}" />
	<meta property="og:type" content="Kvittr Note" />
	<meta property="og:site_name" content="kvittr.no" />
	<meta property="og:description" content="{{note.body}}" />
	<meta property="og:url" content="http://kvittr.no/notes/{{note.id}}" />
	<!-- hvis det var bilder ville de blitt skrevet inn her. Det er jo bare avskrift fra repoet eid av foreleser, så ser ikke poenget. -->
{% endif %}
{% endblock extra_head %}

{% block pagecontent %}
<div class="row">
	<div class="container">
		<div class="col-sm-12">
			<p>Title: {{ note.label }}</p>
			<p>Description: {{ note.body }}</p>
			<p>Created on: {{note.timestamp}}</p>
			<p>Created by: {{note.author}} </p>
			<p>
				<div>
					<a id="increase_num_likes_thumb" href="">
						<span class="glyphicon glyphicon-thumbs-up" style="margin-right: 10px;"></span>
					</a>
					<a id="decrease_num_likes_thumb" href="">
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</a>
				</div>
				<span> Number of likes:</span>
				<div id="num_likes_div">
					{{ note.num_likes }}
				</div>
			</p>
		</div><!-- end col-->
	</div><!-- end container-->
</div><!-- end row -->

<input type="hidden" id="num_likes_url" value="/notes/{{ note.id }}/increase_num_likes/" >
<input type="hidden" id="decrease_num_likes_url" value="/notes/{{ note.id }}/decrease_num_likes/" >

{% endblock pagecontent %}