{% extends 'base.html' %}
{% block pagecontent %}

<div class="jumbotron">
	<h1 align="center">Notes</h1>
</div>

<div class="row">
{% if user.is_authenticated %}
	<div class="col-sm-10">
		{% if notes%}
			{% for note in notes %}
				<div class="col-sm-5" style="border: 1px solid; margin: 10px;">
					<h3 class="page-header"><a href="{% url 'notes:detailnote'%}?id={{note.id}}"> {{ note.label }} </a>
						{% if note.num_likes > 0 %}
							<span style="float: right;" class="glyphicon glyphicon-thumbs-up">: {{ note.num_likes }} </span>
						{% elif note.num_likes = 0 %}
							<span style="float:right;">No votes</span>
						{% else %}
							<span style="float:right;" class="glyphicon glyphicon-thumbs-down">: {{ note.num_likes }}</span>
						{% endif %}
					</h3>


					<!--
					<div style="padding: 5px;" id="change_{{ note.id }}"> 
						{{ note.body }}
						<button class="button" data-noteid="{{ note.id }}">Change css</button>
					</div>
					-->

					
					<button class="class_increase_button" data-noteid="{{ note.id }}">More likes</button>
					<p id="id_increase_{{ note.id }}">{{ note.num_likes }}</p>




					{% for tag in note.tags.all %}
						<p>Tag: <a href="{% url 'notes:tagsearch' slug=tag.slug %}">{{tag}}</a></p>
					{% endfor %}
					<div>
						<p style="float: left;">By {{ note.author }}</p>
						<!-- display functionality only when author of note object is the logged in user-->
						{% if note and note.author == request.user %}
						<a style="float: right;" href="{% url 'notes:addnote' %}?id={{note.id}}">Edit Note</a>
						{% endif %}
					</div>
				</div><!-- end col 5-->
			{% endfor %}
		{% else %}
			<div class="col-sm-12">
				<h3>No notes yet</h3>
			</div>
		{% endif %}
	</div><!-- end col 10-->
	<div class="col-sm-2">
		<h3 class="page-header">Tags</h3>
		<ul>
			{% if tags %}
				{% for tag in tags %}
					<li>
						<a href="{% url 'notes:tagsearch' slug=tag.slug %}">{{tag}}</a>
						<ul>
							<li>
								<a href="{% url 'notes:addtag' %}?id={{tag.id}}">Edit tag</a>
							</li>
						</ul>
					</li>
				{% endfor %}
			{% else %}
				<div class="alert alert-warning">No tags yet</div>
			{% endif %}
		</ul>
	</div><!-- end col 2-->
{% else %}
	<div class="col-sm-10">
		{% if notes%}
			{% for note in notes %}
				<div class="col-sm-5" style="border: 1px solid; margin: 10px;">
					<h3> {{ note.label }}</h3>
					<div style="padding: 5px;">
						{{ note.body }}
						<p>By {{ note.author }}</p>
					</div>
					{% for tag in note.tags.all %}
						<p>Tag: <a href="{% url 'notes:tagsearch' slug=tag.slug %}">{{tag}}</a></p>
					{% endfor %}
				</div><!-- end col 5-->
			{% endfor %}
		{% endif %}
	</div><!-- end col 10-->
	<div class="col-sm-2">
		<h3 class="page-header">Tags</h3>
		<ul>
			{% if tags %}
				{% for tag in tags %}
					<li>
						<a href="{% url 'notes:tagsearch' slug=tag.slug %}">{{tag}}</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div> <!-- end col 2-->
{% endif %}
</div><!-- end row-->
<div class="pagination">
              <span class"step-links">
                {% if notes.has_previous %}
                  <a href="?page={{notes.previous_page_number}}">previous page</a>
                {% endif %}

                <span class="current">
                  Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
                </span>

                {% if notes.has_next %}
                  <a href="?page={{ notes.next_page_number }}">next page</a>
                {% endif %}
              </span>
          </div><!-- end pagination-->
{% endblock pagecontent %}