{% extends 'base.html' %}
{% block pagecontent %}

<div class="jumbotron">
	<h1 align="center">Notes tagged with {{tag}}</h1>
</div>

<div class="row">
	<div class="col-sm-12">
		{% if notes %}
			{% for note in notes %}
				<h3 class="page-header">{{note.label}}</h3>
				{{note.body|linebreaks}}
					{% for tag in note.tags.all %}
						{{tag}}{% if not forloop.last%} | {% endif %}
					{% endfor%}
			{% endfor%}
		{% else %}
			<div class="alert alert-warning" align="center">
				<h3>No Notes With This Tag</h3>
			</div>
		{% endif%}
	</div><!-- end col -->
</div><!-- end row-->
<div class="pagination">
	<span class"step-links">
		{% if notes.has_previous %}
			<a href="?page={{notes.previous_page_number}}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
		</span>

		{% if notes.has_next %}
			<a href="?page={{ notes.next_page_number }}">next</a>
		{% endif %}
	</span>
</div><!-- end pagination-->

{% endblock pagecontent %}
