{% extends 'base.html' %}
{% block pagecontent %}

<div class="jumbotron">
	<h1 class="alignCenter">Notes tagged with {{tag}}</h1>
</div>

<div class="row">
	<div class="col-sm-10">
		{% if notes %}
			{% for note in notes %}
				<div class="margin10">
					<h3 class="page-header">{{note.label}}</h3>
					<p>{{note.body}}</p>
					{% for tag in note.tags.all %}
						<div>Tag: {{tag}}</div>
					{% endfor%}
				</div>
			{% endfor%}
		{% else %}
			<div class="alert alert-warning alignCenter">
				<h3>No Notes With This Tag</h3>
			</div>
		{% endif%}
	</div><!-- end col 10-->
	<div class="col-sm-2">
		<h3 class="page-header">All Tags</h3>
		<ul>
			{% if tags %}
				{% for tag in tags %}
					<li>
						<a href="{% url 'notes:tagsearch' slug=tag.slug %}">{{tag}}</a>
					</li>
				{% endfor %}
			{% else %}
				<div class="alert alert-warning">No tags yet</div>
			{% endif %}
		</ul>
	</div><!-- end col 2-->
</div><!-- end row-->
<div class="pagination">
	<span class"step-links">
		{% if notes.has_previous %}
			<a href="?page={{notes.previous_page_number}}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
		</span>

		{% if notes.has_next %}
			<a href="?page={{ notes.next_page_number }}">next</a>
		{% endif %}
	</span>
</div><!-- end pagination-->
{% if user.is_authenticated %}
	<div class="clear-both">
		<a href="{% url 'notes:index'%}" class="btn btn-default margin-top10" role="button">Back</a>
	</div>
{% else %}
	<div class="clear-both">
		<a href="{% url 'home'%}" class="btn btn-default margin-top10" role="button">Home</a>
	</div>
{% endif %}

{% endblock pagecontent %}
